* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*::after,
*::before {
  display: block;
}
html {
  width: 100%;
  font-size: 62.5%;
  height: auto;
  overflow-x: hidden;
  background: #fff;
}
body {
  width: 100%;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  color: #323232;
  font-family: Arial, "Helvetica Neue", HelveticaNeue, sans-serif;
}
a {
  display: block;
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
