.Header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header-Inner {
  max-width: 1200px;
  width: 90%;
  display: flex;
}

.Header-Inner-NavGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.Header-Inner-NavGroup > * + *{
  margin-left: 20px;
}

.Header-Inner-NavGroup-NavItem {
  font-size: 18px;
  font-weight: bold;
  color: #5F24D0;
}

.Header-Inner-MenuBtn {
  display: none;
}

@media screen and (max-width:768px){
  .Header-Inner{
    align-items: center;
    justify-content: center;
  }
  .Header-Inner-LogoBox{
    margin-right: auto;
  }

  .Header-Inner-LogoBox-Img{
    width: 80px;
  }
  .Header-Inner-NavGroup{
    display: none;
  }
  .Header-Inner-MenuBtn{
    display: block;
    width: 30px;
    height: 20px;
    margin-left: auto;
  }

}

.BigimageSection {
  width: 100%;
  height: auto;
  background:linear-gradient(180deg,#6F5140 0%,#6F5140 83.4%,#fff 83.4%,#fff 100%);
}

.BigimageSection-Inner {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.BigimageSection-Inner-Title {
  margin-right: auto;
  padding-bottom: 100px;
}

.BigimageSection-Inner-ImgBox {
  margin-left: auto;
}
.BigimageSection-Inner-ImgBox-Img {
  width: 100%;
  height: auto;
}

@media screen and (max-width:768px) {
  .BigimageSection-Inner-Title {
    padding-bottom: 40px;
  }
}

.AboutSection-Inner{
  max-width: 800px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.AboutSection-Inner-Text {
  font-size: 18px;
  line-height: 2.0em;
  padding-top: 50px;
  text-align: center;
}
@media screen and (max-width:768px){
  .AboutSection-Inner {
    padding: 0;
  }
  .AboutSection-Inner-Text {
    font-size: 12px;
    padding-top: 25px;
  }
}
.WorkSection {
  padding-top: 130px;
}

.WorkSection-Inner {
  max-width: 1150px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.WorkSection-Inner-Contents{
  display: flex;
}

.WorkSection-Inner-Contents-Img {
  width: 320px;
  height:auto;
}

.WorkSection-Inner-Contents-TextBox {
  padding-left: 65px;
}

.WorkSection-Inner-Contents-TextBox-HeadLine {
  width: 210px;
}

.WorkSection-Inner-Contents-TextBox-Text {
  padding-top: 25px;
  font-size: 16px;
  line-height: 2.0em;
}
@media screen and (max-width:768px){
  .WorkSection {
    padding-top: 65px;
  }

  .WorkSection-Inner-Contents {
    display: block;
  }

  .WorkSection-Inner-Contents-Img {
    width: 160px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .WorkSection-Inner-Contents-TextBox {
    padding-left: 0px;
  }

  .WorkSection-Inner-Contents-TextBox-HeadLine {
    width: 105px;
  }

  .WorkSection-Inner-Contents-TextBox-Text {
    padding-top: 12.5px;
    font-size: 10px;
  }
}

.NewsSection {
  width: 100%;
  padding-top: 100px;
}

.NewsSection-Inner {
  width: 90%;
  max-width: 730px;
  padding-left: 6em;
  padding-right: 6em;
  padding-top: 3em;
  padding-bottom: 8em;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #4A2396;
  position: relative;
}

.NewsSection-Inner-HeadLine {
  width: 64px;
}

.NewsSection-Inner-ListGroup{
  margin-top: 25px;
}

.NewsSection-Inner-ListGroup  > * + *{
  margin-top: 25px;
}

.NewsSection-Inner-ListGroup-ListItem {
  font-size: 16px;
}

.NewsSection-Inner-Btn {
  width: 270px;
  display: flex;
  justify-content: center;
  background-color: #4A2396;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 25px;
  position: absolute;
  margin-left: 400px;
}

.NewsSection-Inner-Btn-Text {
  width: 45px;
}

.NewsSection-Inner-Btn-Icon {
  width: 10px;
  margin-left: 160px
}
@media screen and (max-width:768px) {
  .NewsSection {
    padding-top: 50px;
    width: 90%;
  }

  .NewsSection-Inner {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1.5em;
    padding-bottom: 4em;
  }
  .NewsSection-Inner-HeadLine{
    width: 32px;
  }

  .NewsSection-Inner-ListGroup {
    margin-top: 12.5px;
  }

  .NewsSection-Inner-ListGroup  > * + * {
    margin-top: 12.5px;
  }

  .NewsSection-Inner-ListGroup-ListItem {
    font-size: 10px;
  }

  .NewsSection-Inner-Btn {
    width: 135px;
    margin-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 12.5px;
  }

  .NewsSection-Inner-Btn-Text {
    width: 22.5px;
  }

  .NewsSection-Inner-Btn-Icon {
    width: 5px;
    margin-left: 80px;
  }
}

.ServiceSection {
  width: 100%;
  padding-top: 100px;
}

.ServiceSection-Inner {
  width: 90%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.ServiceSection-Inner-HeadLine {
  width: 210px;
  margin-left: auto;
  margin-right: auto;
}

.ServiceSection-InnerText {
  padding-top: 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2.0em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  text-align: center;
  font-size: 18px;
}

.ServiceSection-Inner-BannerGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.ServiceSection-Inner-BannerGroup > * + *{
  margin-left: 30px;
}

.ServiceSection-Inner-BannerGroup-BannerItem {
  background-color: #6F5140;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
}


.ServiceSection-Inner-BannerGroup-BannerItem-Title {
  width: 90px;
}

.ServiceSection-Inner-BannerGroup-BannerItem-TextBox {
  padding-top: 35px;
  display: flex;
}

.ServiceSection-Inner-BannerGroup-BannerItem-TextBox-Text {
  color: #fff;
  font-size: 16px;
}

.ServiceSection-Inner-BannerGroup-BannerItem-TextBox-Icon {
  width: 10px;
  margin-left: 20px;
}

@media screen and (max-width:768px) {
  .ServiceSection {
    padding-top: 50px;
  }
  .ServiceSection-Inner-HeadLine {
    width: 105px;
  }

  .ServiceSection-InnerText {
    padding-top: 25px;
    padding-left: 1.25em;
    padding-right: 1.25em;
    font-size: 12px;
  }
  
  .ServiceSection-Inner-BannerGroup {
    display: block;
    padding-top: 25px;
  }

  .ServiceSection-Inner-BannerGroup > * + *  {
    margin-left: 0px;
    margin-top: 25px;
  }

  .ServiceSection-Inner-BannerGroup-BannerItem {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 12.5px;
    padding-right: 12.5px;
  }

  .ServiceSection-Inner-BannerGroup-BannerItem-Title {
    width: 45px;
  }

  .ServiceSection-Inner-BannerGroup-BannerItem-TextBox {
    padding-top: 17.5px;
  }

  .ServiceSection-Inner-BannerGroup-BannerItem-TextBox-Text {
    font-size: 10px;
  }

  .ServiceSection-Inner-BannerGroup-BannerItem-TextBox-Icon {
    width: 5px;
    margin-left: 10px;
  }
}

.Footer {
  width: 100%;
  padding-top: 150px;
}

.Footer-Freme {
  border-top: 4px solid #4A2396;
}

.Footer-Freme-Inner {
  width: 90%;
  max-width: 800px;
  padding-top: 90px;
  margin-right: auto;
  margin-left: auto;
}

.Footer-Freme-Inner-NavGroup {
  display: flex;
  align-items: center;
  justify-content: center;

}

.Footer-Freme-Inner-NavGroup > * + * {
  margin-left: 30px;
}
  
.Footer-Freme-Inner-NavGroup-NavItem {
  color: #4A2396;
  font-weight: bold;
  font-size: 18px;
}

.Footer-Freme-Inner-Address {
  color: #4A2396;
  font-size: 16px;
  padding-top: 60px;
  text-align: center;
  line-height: 1.5em;
}

.Footer-Freme-Inner-Btn {
  width: 270px;
  background-color: #4A2396;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.Footer-Freme-Inner-Btn-Text {
  width: 67px;
}

.Footer-Freme-Inner-Btn-Icon {
  width: 10px;
  margin-left: 135px;
}

@media screen and (max-width:768px) {
  .Footer {
    padding-top: 75px;
  }

  .Footer-Freme-Inner {
    padding-top: 45px;
  }

  .Footer-Freme-Inner-NavGroup {
    flex-wrap: wrap;
  }

  .Footer-Freme-Inner-NavGroup > * + * {
    margin-left: 15px;
  }
  .Footer-Freme-Inner-NavGroup> :nth-of-type(n + 5) {
    padding-top: 15px;
  }
  .Footer-Freme-Inner-NavGroup-NavItem {
    font-size: 12px;
  }

  .Footer-Freme-Inner-Address {
    font-size: 10px;
    padding-top: 30px;
  } 

  .Footer-Freme-Inner-Btn {
    width: 135px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
  }

  .Footer-Freme-Inner-Btn-Text {
    width: 33.5px;
  }

  .Footer-Freme-Inner-Btn-Icon {
    width: 5px;
    margin-left: 62.5px;
  }
}

.CopyrightSection {
  width: 100%;
  height: auto;
  padding-top: 75px;
}

.CopyrightSection-Inner {
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #4A2396;
  padding-top: 35px;
  padding-bottom: 35px;
}

@media screen and (max-width:768px) {
  .CopyrightSection {
    padding-top: 37.5px;
  }

  .CopyrightSection-Inner {
    font-size: 10px;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
  }
}

